/*
Theme: yot mx
Version: 1
23 de Octubre
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
* { margin:0; padding:0; }
* a{ text-decoration: none; color: #000;  cursor: pointer}
h2{ font-size: 1.3rem; }
h3{ font-size: 1.1rem; }
h1, h2, h3, h4, h5, h6, b { font-family: 'Caecilia B', sans-serif;}
#s{
  position: fixed;
 	left: 20px;
 	top: 20px;
 	color: red;
 	z-index: 5000;
  display: none;
}
@font-face {
  font-family: 'Caecilia B';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/cae.woff') format('woff'),
       url('fonts/cae.woff2') format('woff2'),
       url('fonts/cae.ttf') format('truetype'),
       url('fonts/cae.eot') format('embedded-opentype')
}
@font-face {
  font-family: 'Gotham B';
  font-style: bold;
  font-weight: 700;
  src: url('fonts/gb.woff') format('woff'),
       url('fonts/gb.woff2') format('woff2'),
       url('fonts/gb.ttf') format('truetype'),
       url('fonts/gb.eot') format('embedded-opentype')
}
* { margin:0; padding:0; }
* a{ text-decoration: none; color: #fff;  cursor: pointer}
* p{ font-size: 0.8rem;}
h2{ font-size: 1.3rem; }
h3{ font-size: 1.1rem; }
h1, h2, h3, h4, h5, h6, b { font-family: 'Caecilia B', sans-serif;}
body{
  font-family: 'Gotham B', 'Proxima Nova', 'Proxima Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}
.hideDisplay{ display: none }
.showDisplay{ display: block }
.showDisplayFlex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
.transitionBlock{
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.transitionNone{
  -webkit-transition: opacity 0s ease-out;
  -moz-transition: opacity 0s ease-out;
  -ms-transition: opacity 0s ease-out;
  -o-transition: opacity 0s ease-out;
  transition: opacity 0s ease-out;
}
.showOpacity{ opacity: 1 }
.hideOpacity{ opacity: 0 }
.backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
.backgroundImageCov {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
#loading{
  position: fixed;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 12000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#percentage{
  font-family: 'Caecilia B', sans-serif;
  color: #000;
  margin-top: 20px;
}
#salsaWrap{
  position: relative;
  width: 40px;
  height: 140px;
  margin-top: -200px;
}
#salsaWrap>img{
  position: absolute;
  top: 0;
  left: 0;
}
#salsaLiquid{
  width: 40px;
  height: 136px;
  background-image: url('../img/salsa.png');
  -webkit-animation: play 3.8s steps(73) infinite;
  -moz-animation: play 3.8s steps(73) infinite;
  -ms-animation: play 3.8s steps(73) infinite;
  -o-animation: play 3.8s steps(73) infinite;
  animation: play 3.8s steps(73) infinite;
}
/* Pop Phone */
#telPopW{
  font-family: 'Caecilia B';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 8500;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#telPopW>div{
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-image: url('../img/icons/pop-telefono.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#telPopW>div>a{
  position: absolute;
  right: -15px;
  top: -15px;
}
#telPopW>div>a:hover{
	opacity: 0.5;
}
#telPopW>div>p{
  position: absolute;
  top: calc(50% - 35px);
  width: 100%;
  height: 70px;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}
#wrClose{
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 80px;
}
#homeMobile{
  position: absolute;
  top: 12px;
  left: -1px;
}
#closeMenu{
  position: absolute;
  width: 50px;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.closeMenu>span{
	display: block;
	width: 60%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	position: absolute;
	top: calc(50% - 2px);
  left: 20%;
}
.rotccw {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rotcw {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav.main>a.menuMobile{ display: block }
nav.main{
  z-index: 10000;
  position: relative;
  width: 90vw;
  min-width: 300px;
  left: 5vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
}
nav.main>ul.outerMobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #490e0e;
  z-index: 3000;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
nav.main>ul.outerMobile>span{
  position: absolute;
  top: 90px;
  display: block;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
nav.main>ul.outerMobile>span>div{
  line-height: 1.4;
  text-align: center;
}
nav.main>ul.outerMobile>span>li.last{
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
nav.main>ul.outerDesktop{ width: 50%; }
nav.main>ul.outerRedes{ width: 120px; }
nav.main>ul.desktop{
  display: none;
  margin-right: 5px;
  height: 60px;
}
#backW{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
ul#backs{
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 100%;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}
ul#backs>li{
  display: inline-block;
  float: left;
  width: 100vw;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* CONTENIDO */
#mainIndex{
  position: relative;
  margin: 0 auto;
  width: calc(100vw - 80px);
  height: calc(100vh - 180px);
  min-height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}
#mainIndex>article.normal, #mainIndex>article.tlayolis{
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.mockupMob{ display: block}
.mockupDesk{ display: none}
#mainIndex>article.normal>ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
  height: 100%;
}
#mainIndex>article.normal>ul>li{ width: 100% }
#mainIndex>article.normal>ul>a{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: none;
}
/* MOBILE HEIGHTS BANNER */
#mainIndex>article.normal>ul.standar>li:first-child,
#mainIndex>article.normal>ul.standar>li:nth-child(3){
  height: 24%;
}
#mainIndex>article.normal>ul.standar>li:nth-child(2){
  height: 48%;
}
#mainIndex>article.normal>ul.tlayolis>li:first-child,
#mainIndex>article.normal>ul.tlayolis>li:nth-child(3){
  height: 19%;
}
#mainIndex>article.normal>ul.tlayolis>li:nth-child(2){
  height: 58%;
}
#mainIndex>article.normal>div, #mainIndex>article.tlayolis>div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
#mainIndex>article.normal>div>div, #mainIndex>article.tlayolis>div>div{
  position: relative;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainIndex>article.normal>div>div>a, #mainIndex>article.tlayolis>div>div>a{
  position: absolute;
  width: 100%;
  height: 100%;
}
#mainIndex>article>header>p, #mainIndex>article>header>a{ line-height: 35px; }
#mainIndex>article>header>p.prox{ text-transform: uppercase; }
.interfaz{
  position: fixed;
  width: 40px;
  height: 30px;
  top: calc(50% - 20px);
  left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  z-index: 3000;
}
.interfaznext{ left: calc(99vw - 40px) }
.rotIcon{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* LANDSCAPE */
.alignArticle{
  top:60px !important;
  flex-direction: row-reverse !important;
  -webkit-flex-direction: row-reverse !important;
}
.sizeLandscape{
  justify-content: center !important;
  -webkit-justify-content: center !important;
	height: 100% !important;
	width: 50% !important;
}
.sizeImg{ height: 20% !important; }
.alignDiv{
	justify-content: center !important;
  -webkit-justify-content: center !important;
}
footer.main{
  z-index: 7000;
  position: relative;
  width: 90vw;
  min-width: 250px;
  bottom: 0;
  /* height: 120px; */
  margin: 15px auto;
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  display: none;
}
#nosotros{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
footer.main>p{
  font-size: 0.7rem;
  line-height: 20px
}
footer.main>p>a{ text-decoration: underline; }
footer.main>p>a:hover{ opacity: 0.5; }
#preventHeight, #preventLandscape{
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #490e0e;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
/* NOSTROS */
#mainNosotros{
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: -80px;
}
#mainNosotros>header{
  position: relative;
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  background: black;
}
#mainNosotros>header>ul{
  position: absolute;
  left: 0;
  top: 0;
  width: 400%;
  height: 100%;
}
#mainNosotros>header>ul>li{
  width: 100vw;
  height: 100%;
}
#mainNosotros>header>div{
  position: absolute;
  top:25%;
  left: 5%;
  width: 90%;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#mainNosotros>header>div>p{
  display: block;
  width: calc(100% - 100px);
  text-align: center;
  margin: 0 5%;
  font-size: 1rem;
}
#mainNosotros>ul{
  width: 100vw;
  min-width: 250px;
  height: 300vh;
  background: red;
}
#mainNosotros>ul>li{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.middle{
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}
#mainNosotros>ul>li>div{
  height: 50%;
  width: 100%;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#mainNosotros>ul>li>div>p{
  width: 70%;
  display: block;
  font-size: 1.2rem }
/* GRID */
#mainNosotros>div{
  width: 100%;
  height: 150px;
  background: #000033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
}
#mainNosotros>div>h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
/* CUADRICULA */
#mainNosotros>article{
  width: 100vw;
  background: red;
}
#mainNosotros>article>ul{
  width: 100%;
  min-width: 300px;
  background: black;
}
#mainNosotros>article>ul>li{
  position: relative;
  float: left;
  width: 50%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}
#mainNosotros>article>ul>li>img{ width: 180px }
#mainNosotros>article>ul>li#lastMobile{ display: block }
#mainNosotros>article>ul>li#lastMobile>span{
  margin-top: 10%;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
  justify-content:space-around;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#mainNosotros>article>ul>li#lastMobile>span>p{
  display: block;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}
#mainNosotros>article>ul>li#lastMobile>span>div>a{
  padding: 5px;
}
/* NOSTROS OVERINFO */
.overInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  -ms-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.productosBullets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.overInfo>h2, .overInfo>p{
  display: block;
  width: 80%;
}
.overInfo>h2, .overInfo>p, .overInfo>img {
    font-family: 'Caecilia B', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    font-size: 0.75rem;
    text-align: center;
}
.overInfo>h2{ font-size: 1rem}
.iconMore{
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.rotateIcon{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.unrotateIcon{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.imgProductoNos{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.zoomInImg{
  -webkit-transform: scale(3,3);
  -moz-transform: scale(3,3);
  -ms-transform: scale(3,3);
  -o-transform: scale(3,3);
  transform: scale(3,3);
}
.zoomOutImg{
 -webkit-transform: scale(1,1);
 -moz-transform: scale(1,1);
 -ms-transform: scale(1,1);
 -o-transform: scale(1,1);
 transform: scale(1,1);
}
.scaleUp{
  -webkit-transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -o-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
}

.scaleDown{
  -webkit-transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -o-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
}
/* desktop */
@media screen and (min-width:800px){
  #mainIndex>article.normal>ul>a{ display: none }
  body{ overflow-y: scroll }
  a.menuMobile{ display: none !important; }
  nav.main{
    width: 98vw;
    left: 1vw;
  }
  nav.main>ul.desktop{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
  }
  /* contenido */
  .mockupMob{ display: none}
  .mockupDesk{ display: block}
  #mainIndex{
    width: calc(100vw - 100px);
    height: calc(100vh - 140px); }
  #mainIndex>article.normal{
    height: calc(100vh - 160px);
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
  }
  #mainIndex>article.normal>ul, #mainIndex>article.normal>div{
    height: 100%;
    width: 50%;
  }
  #mainIndex>article.normal>ul{
    -webkit-justify-content:center;
    justify-content:center;
  }
  /* DESKTOP HEIGHTS BANNER */
  #mainIndex>article.normal>ul.standar>li:nth-child(3),
  #mainIndex>article.normal>ul.tlayolis>li:nth-child(3){
    height: 30%;
  }
  #mainIndex>article.normal>ul.standar>li:first-child{
    height: 28%;
  }
  #mainIndex>article.normal>ul.tlayolis>li:first-child{
    height: 18%;
  }
  #mainIndex>article.normal>ul.standar>li:first-child,
  #mainIndex>article.normal>ul.tlayolis>li:first-child{
    margin-bottom: 20px;
  }
  #mainIndex>article.normal>div{
    justify-content: center;
    -webkit-justify-content: center;
  }
  #mainIndex>article.normal>div>div{
    width: 90%;
    height: 450px;
  }
  #mainIndex>article.normal>div>img{
    height: auto;
    width: 100%;
  }
  footer.main{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction:row;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  /* nosotros */
  #mainNosotros>header>div>p{
    display: block;
    width: calc(60% - 100px);
    text-align: center;
    margin: 0 20%;
    font-size: 2.5rem;
  }
  #mainNosotros>ul>li>div{
    width: 50%;
    height: 100%;
  }
  #mainNosotros>ul>li>div>p{ font-size: 2.188em}
  #mainNosotros>div{ height: 200px; }
  #mainNosotros>div>h1{ padding: 0 60px; }
  #mainNosotros>article>ul>li{
    height: 390px;
    width: 33.3%;
  }
  #mainNosotros>article>ul>li>img{ width: 250px }
  #mainNosotros>article>ul>li#lastMobile{ display: none; }
  .middle{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
  .overInfo>h2 { font-size: 1.8rem }
  .overInfo>p{ font-size: 1rem }
}
/* desktop max */
@media screen and (min-width:1500px){
  #mainIndex>article.normal>div>div{
    width: 600px;
    height: 600px;
  }

  /* max nosotros */
  #mainNosotros>header>img{
    padding-top: 0;
    width: 380px;
  }
  #mainNosotros>header>p{
    width: 450px;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  #mainNosotros>article>ul>li>img{ width: 300px }
}

/* ANIMATIONS */
@-webkit-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-moz-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-ms-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-o-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
