#sliderBack{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sotBackSlider{
  background-image:url('../img/sot/background-sot-producto-mobile.jpg');
}
.potetBackSlider{
  background-image:url('../img/potet/background-potet-producto-mobile.jpg');
}
.tlayolisBackSlider{
  background-image:url('../img/tlayolis/background-tlayolis-producto-mobile.jpg');
}
nav#bullets{
  position: absolute;
  top: 30vh;
  right: 5px;
  width: 60px;
  height: 40vh;
  display: none;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;
}
nav#bullets>ul{
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items:flex-end;
  -webkit-align-items:flex-end;
}
nav#bullets>ul>li>a>p{
  text-align: right;
  height: 20px;
  font-size: 0.75rem;
}
nav#bullets>ul>li>a>img{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* NEW ARROWS */
nav#arrows{
	display: block;
	position: fixed;
	width: 100vw;
	height: 50px;
	top: calc(50vh - 20px);
	z-index: 9000;
}
nav#arrows>span{
  display: block;
  width: 99%;
  height: 100%;
  margin: 0 auto;
}
nav#arrows>span>a:last-child{
  float: right;
}
#mainProducto{
  position: relative;
  width: 100vw;
  overflow: hidden;
}
#mainProducto>article{
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#mainProducto>article.productoArticle{height: auto}
#mainProducto>article.header>header{
  width: 99%;
  height: 100%;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainProducto>article.header>header.sot{ background-image: url('../img/sot/texto-sot-producto-mobile.svg') }
#mainProducto>article.header>header.potet{ background-image: url('../img/potet/texto-potet-producto-mobile.svg') }
#mainProducto>article.header>header.tlayolis{ background-image: url('../img/tlayolis/texto-tlayolis-producto-mobile.png') }
#mainProducto>article>div{
  position: relative;
  width: 100%;
  height: 220px;
}
#mainProducto>article>div.producto{
  cursor: pointer;
  position: relative;
}
#mainProducto>article>div.producto>img{
  position: absolute;
  display: block;
  width: 180px;
  left: calc(50% - 90px);
}
#mainProducto>article>div.producto>img.bulletBack{
  width: 250px;
  left: calc(50% - 125px);
}
#mainProducto>article>div.producto>img.mock{
  top: 20px;
}
/* #mock{
  top:5% !important;
  width: 160px !important;
  left: calc(50% - 80px) !important;
} */
#mainProducto>article>div.info{
  height: auto !important;
}
#mainProducto>article>div.info>h2, #mainProducto>article>div.info>p{
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}
#mainProducto>article>div.info>p{
  width: 70%;
  min-width: 180px;
  margin: 0 auto;
}
#mainProducto>article>div.info>div{
  width: 250px;
  height: 160px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainProducto>article>header{ position: relative }
#redesIndividuales{
  position: absolute;
  top: calc(80% - 25px);
  left: calc(50% - 60px);
  height: 50px;
  width: 120px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
#interfaceInner{
  width: 50%;
  margin: 0 auto;
  height: 60px !important;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
/* BACKGROUND */
#backgroundProducto{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#backgroundProducto>div#papas{
  width: 100%;
  height: 100%;
  background-size: contain;
}
.tlayolis-0{
  background-image:url('../img/tlayolis/background-tlayolis-producto-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* JALAPEÑO */
.tlayolis-1{
  background-image: url('../img/tlayolis/back-jalapeno.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* HABANERO TLAYOLIS */
.tlayolis-2{
  background-image: url('../img/tlayolis/back-habanero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* BBQ */
.tlayolis-3{
  background-image: url('../img/tlayolis/back-bbq.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* FOOTER TLAYOLIS */
.tlayolis-4{
  background-image: url('../img/tlayolis/back-jalapeno.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* INICIO SOT */
.sot-0{
  background-image:url('../img/sot/background-sot-producto-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* CAMOTE */
.sot-1 {
	background-image: url('../img/sot/back-camote.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* PLATANITOS */
.sot-2 {
  background-image: url('../img/sot/back-platanitos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* YUCA Y CAMOTE */
.sot-3 {
  background-image: url('../img/sot/back-mix.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* FOOTER SOT */
.sot-4{
  background-image: url('../img/sot/back-mix.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* INICIO POTET */
.potet-0{
  background-image:url('../img/potet/background-potet-producto-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* SAL POTET*/
.potet-1 {
  background-image: url('../img/potet/back-sal.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* HABANERO POTET*/
.potet-2 {
  background-image: url('../img/potet/back-habanero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* CHILE ARBOL*/
.potet-3 {
  background-image: url('../img/potet/back-chilearbol.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* FOOTER POTET */
.potet-4{
  background-image: url('../img/potet/back-sal.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footslider{
  background: #9f3030;
  background: -moz-linear-gradient(top, #9f3030 0%, #482425 100%);
  background: -webkit-linear-gradient(top, #9f3030 0%,#482425 100%);
  background: linear-gradient(to bottom, #9f3030 0%,#482425 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f3030', endColorstr='#482425',GradientType=0);
}
.sotBackSlider{
  background-image: url('../img/sot/back-mix.jpg');
}
.potetBackSlider{
  background-image: url('../img/potet/back-sal.jpg');
}
.tlayolisBackSlider{
  background-image: url('../img/tlayolis/back-jalapeno.jpg');
}
/* HOVER PRODUCTOS */
.jumpMock1{
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.jumpMock2{
  margin-top: 0;
  margin-left: -5px;
}
.jumpBlob1{
  margin-top: 10px;
  margin-left: 10px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.jumpBlob2{
  margin-top: 0;
  margin-left: 5px;
}
#transitionPotet{
  position: fixed;
  top: 0;
  left: 100vw;
  width: 120vw;
  height: 100vh;
  z-index: 8000;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#transitionSot{
  display: none;
  position: fixed;
  top: -200vh;
  width: 100vw;
  height: 200vh;
  z-index: 8000;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#rectSvg{ fill:#1F8245 }
#transitionTlayolis{
  position: fixed;
  top: 0;
  left: -10vw;
  width: 120vw;
  height: 250vh;
  z-index: 8000;
  opacity: 0;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;

  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#transitionTlayolis>svg{ height: 100% }
/* Elements Wrap */
#elementsTlWrap, #elementsSotWrap{
  z-index: 8300;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsTlWrap>li, #elementsSotWrap>li{
  width: 16.6%;
  height: 100%;
  margin-right: 2px;
  margin-top: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsSotWrap>li{ margin-top: -150%;}
#elementsTlWrap>li>img{
  width: 80%;
  max-width: 90px;
}
#elementsPtWrap{
  z-index: 8300;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsPtWrap>li{
  width: 100%;
  height: 16.6%;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsPtWrap>li>img{ height: 80%; }
/* SLIDER MÓVIL */
.sliderRef{
  margin-top: -80px;
  width: 100vw;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  background: rgba(0,0,0,0);
}
#wrapSlider>div{ height: auto !important}
#wrapSlider>a{
  display: block;
  margin: 15px auto }
.sliderRef>img{ width: 90% }
/* SLIDER */
.wrap_slider{
  position: relative;
  width: 100%;
  height: 400px !important;
}
.arrow_slider{
  position: absolute;
  min-width: 40px;
  height: auto;
  margin: 0 10px;
  background-image: url('../img/icons/arrow-out.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
  display: none
}
.arr_prev{ left: 0 }
.arr_next{
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ul_slider{
  position: absolute;
  width: 300%;
  height: 100%;
  left: -100%;
  -webkit-transition: all;
  -webkit-transition-timing-function: ease-out;
  -moz-transition: all;
  -moz-transition-timing-function: ease-out;
  -ms-transition: all;
  -ms-transition-timing-function: ease-out;
  -o-transition: all;
  -o-transition-timing-function: ease-out;
  transition: all;
  transition-timing-function: ease-out;
}
.transition_slider{
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.ul_slider>li{
  display: inline-block;
  float: left;
  width: 33.3333333333%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ul_slider>li>div{
  position: relative;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ul_slider>li.current>div{ cursor: pointer }
.ul_slider>li.current>div:nth-child(1){ width: 20%;}
.ul_slider>li.current>div:nth-child(2){ width: 40%;}
.ul_slider>li.current>div:nth-child(3){ width: 20%;}
.img_slider{ width: 80%; }

#hoverZoom, #hoverNext,#hoverPrev{
  position: absolute;
  width: 80%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#hoverZoom:hover,#hoverNext:hover,#hoverPrev:hover{
  opacity: 0.3;
}
#popProd{
  position: fixed;
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  min-height: 300px;
}

/* desktop */
@media screen and (min-width:800px){
  #redesIndividuales{ top: calc(65% - 25px) !important }
  nav#bullets{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  nav#arrows{
    position: relative;
    width: 95%;
    height: 50px;
    top: 0;
    margin: 0 auto;
  }
  #backgroundProducto{ height: 100vh; }
  #mainProducto{
    height: calc(100vh - 200px);
    min-height: 500px;
  }
  #mainProducto>article{
    height: 100% !important;
    width: 95%;
    flex-direction: row-reverse;
    -webkit-flex-direction:row-reverse;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  #mainProducto>article>div{
    height: 280px }
  #mainProducto>article>div.producto>img{
    width: 380px;
    left: calc(50% - 190px);
  }
  #mainProducto>article>div.producto>img.bulletBack{
    width: 450px;
    left: calc(50% - 225px);
    top: 10px;
  }
  #mainProducto>article{ height: 100% }
  #mainProducto>article.header{
    width: 100vw;
  }
  #redesIndividuales{ top: calc(70% - 15px) }
  #mainProducto>article.header>header.sot{
    background-image: url('../img/sot/texto-sot-producto-desktop.svg') }
  #mainProducto>article.header>header.potet{
    background-image: url('../img/potet/texto-potet-producto-desktop.svg') }
  #mainProducto>article.header>header.tlayolis{
    background-image: url('../img/tlayolis/texto-tlayolis-producto-desktop.png') }

  .sot-0{ background-image:url('../img/sot/background-sot-producto-desktop.jpg') }
  .potet-0{ background-image:url('../img/potet/background-potet-producto-desktop.jpg') }
  .tlayolis-0{
    background-image:url('../img/tlayolis/background-tlayolis-producto-desktop.jpg');}
  #mock{
    width:360px !important;
    left: calc(50% - 180px) !important;
  }
  #interfaceInner{ width: 30%; }
  #mainProducto>article>div.info>p{ display: block; width: 40%;}
  #mainProducto>article>div.info>h2{
    margin-top: 50px;
    font-size: 1.7rem }
  #mainProducto>article>div.info>div{
    width: 320px;
    height: 320px;
  }
  #elementsWrap>li{
    width: 12.5%;
  }
  #elementsSotWrap>li>img{
    width: 85%;
    max-width: 130px;
  }

  #wrapSlider>div{ height: 100% !important}
  #wrapSlider>a{display: none}
}

#interfazProducto{
  z-index: 8800;
  position: fixed;
  top: 20vh;
  width: 100vw;
  height: 60vh;
  background: rgba(0,0,0,0);
}
.popImg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9800;
  background: rgba(0,0,0,0.9);
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.popImg>div{
  position: relative;
  width: 90vw;
  height: 40px;
  margin-bottom: 30px;
}
.popImg>div>a{
  position: absolute;
  right: 0;
}
.popImg>div>a:hover{
  opacity: 0.5;
}
.popImg>img{
  height: 60%;
}
#arrowPopDesk{
  position: relative;
  width: 105px;
  height: 35px;
  margin: 10px auto;
}
#arrowPopDesk>a{ position: absolute }
#arrowPopDesk>a:first-child{ left: 0 }
#sliderMobile{
  position: absolute;
  top: calc(45% - 60px);
  left: calc(50% - 70px);
  width: 140px;
  height: 140px;
  opacity: 0.9;
  z-index: 9800;
}
#popSliderMob{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#popSliderMob>img{ width: 90% }
#popSliderMob>div#swipeSliderMob{
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  width: 100vw;
  height: 100px;
}
#arrowPopMobile{
  position: relative;
  width: 105px;
  height: 35px;
  margin: 10px auto;
}
#arrowPopMobile>a{ position: absolute }
#arrowPopMobile>a:last-child{ right: 0 }
/* desktop max */
@media screen and (min-width:1500px){
  #mainProducto > article > div {
    height: 600px }
  #mainProducto > article > div.producto > img {
    width: 600px;
    left: calc(50% - 300px);
  }
  #mainProducto>article>div.producto>img.bulletBack{
    width: 680px;
    left: calc(50% - 340px);
    top: 30px;
  }
  #mock {
    width: 560px !important;
    left: calc(50% - 280px) !important;
  }
  #mainProducto > article > div.info > h2 { font-size: 2rem }
  #mainProducto > article > div.info > p { font-size: 1.2rem }
  #mainProducto > article > div.info > div {
    width: 420px;
    height: 420px;
  }
}

.animateProd{
  /* -webkit-animation: 'aniProd' 0.5s linear infinite;
  -moz-animation: 'aniProd' 0.5s linear infinite;
  -ms-animation: 'aniProd' 0.5s linear infinite;
  -o-animation: 'aniProd' 0.5s linear infinite; */
  animation: 'aniProd' 1.5s ease-in-out infinite;
}

.animateBlob{
  /* -webkit-animation: 'aniBlob' 0.5s linear infinite;
  -moz-animation: 'aniBlob' 0.5s linear infinite;
  -ms-animation: 'aniBlob' 0.5s linear infinite;
  -o-animation: 'aniBlob' 0.5s linear infinite; */
  animation: 'aniBlob' 1.5s ease-in-out infinite;
}

@keyframes aniProd{
  0%{ margin-left: 0 }
  25%{
    margin-top: -10px;
    margin-left: -10px;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  50%{
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  75%{ margin-left: -5px }
  100%{ margin-left: 0 }
}

@keyframes aniBlob{
  0%{ margin-left: 0 }
  25%{
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  50%{
    margin-top: 0;
    margin-left: 0;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  75%{ margin-left: 5px }
  100%{ margin-left: 0 }
}
