/*
Theme: yot mx
Version: 1
23 de Octubre
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }
* { margin:0; padding:0; }
* a{ text-decoration: none; color: #000;  cursor: pointer}
h2{ font-size: 1.3rem; }
h3{ font-size: 1.1rem; }
h1, h2, h3, h4, h5, h6, b { font-family: 'Caecilia B', sans-serif;}
#s{
  position: fixed;
 	left: 20px;
 	top: 20px;
 	color: red;
 	z-index: 5000;
  display: none;
}
@font-face {
  font-family: 'Caecilia B';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/cae.woff') format('woff'),
       url('fonts/cae.woff2') format('woff2'),
       url('fonts/cae.ttf') format('truetype'),
       url('fonts/cae.eot') format('embedded-opentype')
}
@font-face {
  font-family: 'Gotham B';
  font-style: bold;
  font-weight: 700;
  src: url('fonts/gb.woff') format('woff'),
       url('fonts/gb.woff2') format('woff2'),
       url('fonts/gb.ttf') format('truetype'),
       url('fonts/gb.eot') format('embedded-opentype')
}
* { margin:0; padding:0; }
* a{ text-decoration: none; color: #fff;  cursor: pointer}
* p{ font-size: 0.8rem;}
h2{ font-size: 1.3rem; }
h3{ font-size: 1.1rem; }
h1, h2, h3, h4, h5, h6, b { font-family: 'Caecilia B', sans-serif;}
body{
  font-family: 'Gotham B', 'Proxima Nova', 'Proxima Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.hideDisplay{
  display: none
}
.showDisplay{
  display: block
}
.showDisplayFlex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.transitionBlock{
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.transitionNone{
  -webkit-transition: opacity 0s ease-out;
  -moz-transition: opacity 0s ease-out;
  -ms-transition: opacity 0s ease-out;
  -o-transition: opacity 0s ease-out;
  transition: opacity 0s ease-out;
}
.showOpacity{
  opacity: 1;
}
.hideOpacity{
  opacity: 0;
}
#loading{
  position: fixed;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  /*display: none;*/
}
#percentage{
  font-family: 'Caecilia B', sans-serif;
  color: #000;
}
#salsaWrap{
  position: relative;
  width: 40px;
  height: 140px;
  margin-top: -200px;
}
#salsaWrap>img{
  position: absolute;
  top: 0;
  left: 0;
}
#salsaLiquid{
  width: 40px;
  height: 136px;
  background-image: url('../img/salsa.png');
  -webkit-animation: play 3.8s steps(73) infinite;
  -moz-animation: play 3.8s steps(73) infinite;
  -ms-animation: play 3.8s steps(73) infinite;
  -o-animation: play 3.8s steps(73) infinite;
  animation: play 3.8s steps(73) infinite;
}
/* Pop Phone */
#telPopW{
  font-family: 'Caecilia B';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 8500;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#telPopW>div{
  position: absolute;
  width: 300px;
  height: 220px;
  top: calc(50% - 110px);
  left: calc(50% - 150px);
  background: #490e0e;
}
#telPopW>div>a{
  position: absolute;
  right: 10px;
  top: 10px;
}
#telPopW>div>a:hover{
	opacity: 0.5;
}
#telPopW>div>p{
  width: 90%;
  margin: 60px auto;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.closeMenu{
	position: absolute;
	right: 20px;
	top: 60px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.closeMenu>img{
  position: absolute;
  top: -5px;
  left: -7px;
}
.closeMenu>span{
	display: block;
	width: 90%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	position: absolute;
	top: calc(50% - 2px);
}
.rotccw {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rotcw {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#closeMenu{
  position: absolute;
  top: 20px;
}
nav.main>a.menuMobile{
  display: block;
}
nav.main{
  z-index: 8900;
  position: fixed;
  width: 90vw;
  min-width: 300px;
  left: 5vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
}
nav.main>ul.outerMobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #490e0e;
  z-index: 3000;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
nav.main>ul.outerMobile>span{
  position: absolute;
  top: 10%;
  display: block;
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
nav.main>ul.outerMobile>span>li.last{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
nav.main>ul.outerDesktop{ width: 50%; }
nav.main>ul.outerRedes{ width: 20%; }
nav.main>ul.desktop{
  display: none;
  margin-right: 5px;
  height: 60px;
}
#backW{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
ul#backs{
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 100vh;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -ms-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}
ul#backs>li{
  display: inline-block;
  float: left;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* CONTENIDO */
#mainIndex{
  position: relative;
  width: 100vw;
  height: calc(100vh - 160px);
  overflow: hidden;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#mainIndex>article.normal, #mainIndex>article.tlayolis{
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#mainIndex>article.normal>header, #mainIndex>article.normal>div, #mainIndex>article.tlayolis>header, #mainIndex>article.tlayolis>div{
  width: 100%;
  min-width: 300px;
}
#mainIndex>article.normal>header, #mainIndex>article.tlayolis>header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: flex-end;
  -webkit-justify-content:flex-end;
  align-items: center;
  -webkit-align-items: center;
}
#mainIndex>article.normal>header>img, #mainIndex>article.tlayolis>header>img{ width: 100px; }
#mainIndex>article.normal>div, #mainIndex>article.tlayolis>div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
#mainIndex>article.normal>div>div, #mainIndex>article.tlayolis>div>div{
  width: 250px;
  /*height: 250px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainIndex>article>header>p, #mainIndex>article>header>a{ line-height: 35px; }
#mainIndex>article>header>p.prox{ text-transform: uppercase; }
nav#interfaz{
  position: absolute;
  width: 98vw;
  min-width: 300px;
  top: 0;
  left: 1vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
.rotIcon{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* LANDSCAPE */
.alignArticle{
  top:60px !important;
  flex-direction: row-reverse !important;
  -webkit-flex-direction: row-reverse !important;
}
.sizeLandscape{
  justify-content: center !important;
  -webkit-justify-content: center !important;
	height: 100% !important;
	width: 50% !important;
}
.sizeImg{ height: 20% !important; }
.alignDiv{
	justify-content: center !important;
  -webkit-justify-content: center !important;
}
footer.main{
  z-index: 7000;
  position: relative;
  width: 90vw;
  min-width: 300px;
  left: 5vw;
  bottom: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
footer.main>p{
  font-size: 0.7rem;
  line-height: 20px
}
footer.main>p>a{ text-decoration: underline; }
footer.main>p>a:hover{ opacity: 0.5; }
#preventHeight, #preventLandscape{
  z-index: 8000;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #490e0e;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
/* NOSTROS */
#mainNosotros{
  position: relative;
  width: 100vw;
  height: auto;
}
#mainNosotros>header{
  width: 100%;
  height: 90vh;
  background-image: url('../img/tlayolis/background-tlayolis-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
#mainNosotros>header>p{
  width: 250px;
  color: #490e0e;
  font-size: 1.1rem;
  line-height: 1.1;
  text-align: center;
  padding: 20px 0;
}
#mainNosotros>ul{
  width: 100%;
  height: 600px;
  background: purple;
}
#mainNosotros>ul>li{
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
}
#mainNosotros>ul>li>h2{ padding: 10px 30px; }
#mainNosotros>ul>li>p{
  display: block;
  width: 60%;
  padding: 10px 30px;
}
#mainNosotros>div{
  width: 100%;
  height: 150px;
  background: #490e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
}
#mainNosotros>div>h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0 30px;
}
/* CUADRICULA */
#mainNosotros>article{
  width: 100vw;
  background: red;
}
#mainNosotros>article>ul{
  width: 100%;
  min-width: 300px;
  background: black;
}
#mainNosotros>article>ul>li{
  position: relative;
  float: left;
  width: 50%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
}
#mainNosotros>article>ul>li#lastMobile{ display: block; }
/* NOSTROS OVERINFO */
.overInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  -moz-transition: opacity 0.8s ease-out;
  -ms-transition: opacity 0.8s ease-out;
  -o-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.productosBullets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.overInfo>h2, .overInfo>p, .overInfo>img {
    font-family: 'Caecilia B', sans-serif;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.iconMore{
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.rotateIcon{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.unrotateIcon{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.imgProductoNos{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.zoomInImg{
  -webkit-transform: scale(3,3);
  -moz-transform: scale(3,3);
  -ms-transform: scale(3,3);
  -o-transform: scale(3,3);
  transform: scale(3,3);
}
.zoomOutImg{
 -webkit-transform: scale(1,1);
 -moz-transform: scale(1,1);
 -ms-transform: scale(1,1);
 -o-transform: scale(1,1);
 transform: scale(1,1);
}


/* desktop */
@media screen and (min-width:800px){
  a.menuMobile{ display: none !important; }
  nav.main{
    width: 98vw;
    left: 1vw;
  }
  nav.main>ul.desktop{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
  }
  /* contenido */
  #mainIndex>article.normal{
    height: calc(100vh - 160px);
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
  }
  #mainIndex>article.normal>header, #mainIndex>article.normal>div{
    height: 100%;
    width: 50%;
  }
  #mainIndex>article.normal>header{
    justify-content: center;
    -webkit-justify-content: center;
  }
  #mainIndex>article.normal>header>img, #mainIndex>article.tlayolis>header>img{ width: 200px; }
  #mainIndex>article.normal>div{
    justify-content: center;
    -webkit-justify-content: center;
  }
  #mainIndex>article.normal>div>div, #mainIndex>article.tlayolis>div>div{
    width: 400px;
    height: 400px;
  }
  #mainIndex>article.normal>div>img{
    height: auto;
    width: 100%;
  }
  footer.main{
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: row;
    -webkit-flex-direction:row;
    height: 60px;
  }
  /* nosotros */
  #mainNosotros>header{
    height: 100vh;
  }
  #mainNosotros>header{
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  #mainNosotros>header>p{
    text-align: left;
  }
  #mainNosotros>ul{ height: 300px; }
  #mainNosotros>ul>li{
    width: 50%;
    height: 100%;
    float: left;
  }
  #mainNosotros>ul>li>h2{ padding: 10px 60px; }
  #mainNosotros>ul>li>p{ padding: 10px 60px; }
  #mainNosotros>div{ height: 200px; }
  #mainNosotros>div>h1{ padding: 0 60px; }
  #mainNosotros>article>ul>li{
    height: 390px;
    width: 33.3%;
  }
  #mainNosotros>article>ul>li#lastMobile{ display: none; }
}
/* desktop max */
@media screen and (min-width:1500px){
  #mainIndex>article.normal>div>div{
    width: 600px;
    height: 600px;
  }
}

/* ANIMATIONS */
@-webkit-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-moz-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-ms-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@-o-keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
@keyframes play {
    0% { background-position: 0,0; }
    100% { background-position: -2920px,0; }
}
