body{ background: #000 !important }
nav#bullets{
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100vh;
  display: none;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
nav#bullets>ul{
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
nav#bullets>ul>li>a>img{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
nav#bullets>ul>li>a>img:hover{
  -webkit-transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -o-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
}
#mainProducto{
  position: relative;
  margin-top: 80px;
  width: 100vw;
  overflow: hidden;
}
#mainProducto>article{
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#mainProducto>article.header>header{
  text-align: center;
  width: 320px;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#mainProducto>article.header>header>p{
  width: 80%;
  margin: 0 auto;
  font-family: 'Caecilia B';
  font-size: 1rem;
  padding: 10px 0;
  line-height: 1.1;
}
#mainProducto>article>div{
  position: relative;
  width: 100%;
  height: 180px;
}
#mainProducto>article>div.producto{
  cursor: pointer;
}
#mainProducto>article>div.producto>img{
  position: absolute;
  display: block;
  width: 180px;
  left: calc(50% - 90px);
}
#mock{
  top:5% !important;
  width: 160px !important;
  left: calc(50% - 80px) !important;
}
#mainProducto>article>div.info{
  height: auto !important;
}
#mainProducto>article>div.info>h2, #mainProducto>article>div.info>p{
  display: block;
  width: 100%;
  text-align: center;
  padding: 3px 0;
}
#mainProducto>article>div.info>p{
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}
#mainProducto>article>div.info>div{
  width: 250px;
  height: 160px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#interfaceInner{
  width: 50%;
  margin: 0 auto;
  height: 60px !important;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
/* BACKGROUND */
#backgroundProducto{
  position: absolute;
  width: 100vw;
  height: 120vh;
}
#backgroundProducto>div#papas{
  width: 100%;
  height: 100%;
  background-size: contain;
}
.tlayolis-0{
  background-image:url('../img/tlayolis/background-tlayolis-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* JALAPEÑO */
.tlayolis-1{
  background: #098442;
  background: -moz-linear-gradient(top, #098442 0%, #1b3e2a 100%);
  background: -webkit-linear-gradient(top, #098442 0%,#1b3e2a 100%);
  background: linear-gradient(to bottom, #098442 0%,#1b3e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098442', endColorstr='#1b3e2a',GradientType=0);
}
/* HABANERO TLAYOLIS */
.tlayolis-2{
  background: #bc7129;
  background: -moz-linear-gradient(top, #bc7129 0%, #443122 100%);
  background: -webkit-linear-gradient(top, #bc7129 0%,#443122 100%);
  background: linear-gradient(to bottom, #bc7129 0%,#443122 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc7129', endColorstr='#443122',GradientType=0);
}
/* BBQ */
.tlayolis-3{
  background: #9f3030;
  background: -moz-linear-gradient(top, #9f3030 0%, #482425 100%);
  background: -webkit-linear-gradient(top, #9f3030 0%,#482425 100%);
  background: linear-gradient(to bottom, #9f3030 0%,#482425 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f3030', endColorstr='#482425',GradientType=0);
}
/* FOOTER TLAYOLIS */
.tlayolis-4{
  background-image:url('../img/tlayolis/background-tlayolis-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* INICIO SOT */
.sot-0{
  background-image:url('../img/sot/background-sot-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* CAMOTE */
.sot-1 {
	background: #bc9537;
	background: -moz-linear-gradient(top, #bc9537 0%, #7f6426 100%);
	background: -webkit-linear-gradient(top, #bc9537 0%,#7f6426 100%);
	background: linear-gradient(to bottom, #bc9537 0%,#7f6426 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc9537', endColorstr='#7f6426',GradientType=0 );
}
/* YUCA */
.sot-2 {
    background: #9f3039;
    background: -moz-linear-gradient(top, #9f3039 0%, #701828 100%);
    background: -webkit-linear-gradient(top, #9f3039 0%,#701828 100%);
    background: linear-gradient(to bottom, #9f3039 0%,#701828 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f3039', endColorstr='#701828',GradientType=0 );
}
/* YUCA Y CAMOTE */
.sot-3 {
    background: #c21e72;
    background: -moz-linear-gradient(top, #c21e72 0%, #a0105e 100%);
    background: -webkit-linear-gradient(top, #c21e72 0%,#a0105e 100%);
    background: linear-gradient(to bottom, #c21e72 0%,#a0105e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c21e72', endColorstr='#a0105e',GradientType=0 );
}
/* FOOTER SOT */
.sot-4{
  background-image:url('../img/sot/background-sot-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* INICIO POTET */
.potet-0{
  background-image:url('../img/potet/background-potet-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* SAL POTET*/
.potet-1 {
    background: #ffc521;
    background: -moz-linear-gradient(top, #ffc521 0%, #ffb600 100%);
    background: -webkit-linear-gradient(top, #ffc521 0%,#ffb600 100%);
    background: linear-gradient(to bottom, #ffc521 0%,#ffb600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc521', endColorstr='#ffb600',GradientType=0 );
}
/* HABANERO POTET*/
.potet-2 {
    background: #f78f30;
    background: -moz-linear-gradient(top, #f78f30 1%, #f47a0e 100%);
    background: -webkit-linear-gradient(top, #f78f30 1%,#f47a0e 100%);
    background: linear-gradient(to bottom, #f78f30 1%,#f47a0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78f30', endColorstr='#f47a0e',GradientType=0 );
}
/* CHILE ARBOL*/
.potet-3 {
    background: #d33640;
    background: -moz-linear-gradient(top, #d33640 1%, #d10c16 100%);
    background: -webkit-linear-gradient(top, #d33640 1%,#d10c16 100%);
    background: linear-gradient(to bottom, #d33640 1%,#d10c16 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d33640', endColorstr='#d10c16',GradientType=0 );
}
/* FOOTER POTET */
.potet-4{
  background-image:url('../img/potet/background-potet-producto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footslider{
  background: #9f3030;
  background: -moz-linear-gradient(top, #9f3030 0%, #482425 100%);
  background: -webkit-linear-gradient(top, #9f3030 0%,#482425 100%);
  background: linear-gradient(to bottom, #9f3030 0%,#482425 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f3030', endColorstr='#482425',GradientType=0);
}
/* HOVER PRODUCTOS */
.jumpMock1{
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.jumpMock2{
  margin-top: 0;
  margin-left: -5px;
}
.jumpBlob1{
  margin-top: 10px;
  margin-left: 10px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.jumpBlob2{
  margin-top: 0;
  margin-left: 5px;
}
#transitionPotet{
  position: fixed;
  top: 0;
  left: 100vw;
  width: 120vw;
  height: 100vh;
  z-index: 8000;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#transitionSot{
  display: none;
  position: fixed;
  top: -200vh;
  width: 100vw;
  height: 200vh;
  z-index: 8000;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#rectSvg{ fill:#1F8245 }
#transitionTlayolis{
  position: fixed;
  top: 0;
  left: -10vw;
  width: 120vw;
  height: 250vh;
  z-index: 8000;
  opacity: 0;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;

  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#transitionTlayolis>svg{ height: 100% }
/* Elements Wrap */
#elementsTlWrap, #elementsSotWrap{
  z-index: 8300;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsTlWrap>li, #elementsSotWrap>li{
  width: 16.6%;
  height: 100%;
  margin-right: 2px;
  margin-top: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsSotWrap>li{ margin-top: -150%;}
#elementsTlWrap>li>img{
  width: 80%;
  max-width: 90px;
}
#elementsPtWrap{
  z-index: 8300;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsPtWrap>li{
  width: 100%;
  height: 16.6%;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#elementsPtWrap>li>img{ height: 80%; }
/* SLIDER MÓVIL */
.sliderRef{
  margin-top: -80px;
  width: 100vw;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  background: rgba(0,0,0,0);
}
.sliderRef>img{ width: 90% }
/* SLIDER */
.wrap_slider{
  position: relative;
  width: 100%;
  height: 400px !important;
  overflow: hidden;
}
.arrow_slider{
  position: absolute;
  min-width: 40px;
  height: 100%;
  margin: 0 10px;
  background-image: url('../img/icons/arrow-out.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
}
.arr_prev{ left: 0 }
.arr_next{
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ul_slider{
  position: absolute;
  width: 300%;
  height: 100%;
  left: -100%;
  -webkit-transition: all;
  -webkit-transition-timing-function: ease-out;
  -moz-transition: all;
  -moz-transition-timing-function: ease-out;
  -ms-transition: all;
  -ms-transition-timing-function: ease-out;
  -o-transition: all;
  -o-transition-timing-function: ease-out;
  transition: all;
  transition-timing-function: ease-out;
}
.transition_slider{
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.ul_slider>li{
  display: inline-block;
  float: left;
  width: 33.3333333333%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ul_slider>li>div{
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.ul_slider>li.current>div:nth-child(1){ width: 20%;}
.ul_slider>li.current>div:nth-child(2){ width: 40%;}
.ul_slider>li.current>div:nth-child(3){ width: 20%;}
.img_slider{ width: 80%; }


/* desktop */
@media screen and (min-width:800px){
  nav#bullets{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  #mainProducto{ height: calc(100vh - 160px) }
  #mainProducto>article{
    width: 95%;
    flex-direction: row-reverse;
    -webkit-flex-direction:row-reverse;
  }
  #mainProducto>article.header>header>img{ width: 320px }
  #mainProducto>article.header>header>p{ width: 100% }
  #mainProducto>article>div{ height: 280px }
  #mainProducto>article>div.producto>img{
    width: 380px;
    left: calc(50% - 190px);
  }

  #mock{
    width:360px !important;
    left: calc(50% - 180px) !important;
  }
  #interfaceInner{ width: 30%; }
  #mainProducto>article>div.info>p{ display: block; width: 40%;}
  #mainProducto>article>div.info>h2{ font-size: 1.7rem }
  #mainProducto>article>div.info>div{
    width: 320px;
    height: 320px;
  }
  #elementsWrap>li{
    width: 12.5%;
  }
  #elementsSotWrap>li>img{
    width: 85%;
    max-width: 130px;
  }
}

#interfazProducto{
  z-index: 8800;
  position: fixed;
  top: 20vh;
  width: 100vw;
  height: 60vh;
  background: rgba(0,0,0,0);
}
#sliderMobile{
  position: absolute;
  top: calc(45% - 60px);
  left: calc(50% - 70px);
  width: 140px;
  height: 140px;
  background-image: url('../img/icons/zoom.svg');
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
  opacity: 0.9;
  z-index: 9800;
}
#popSliderMob{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
}
#popSliderMob>img{ width: 90% }
#popSliderMob>div#swipeSliderMob{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  background: rgba(0,0,0,0);
}
/* desktop max */
@media screen and (min-width:1500px){
  #mainProducto>article.header>header{ width: 400px }
  #mainProducto>article.header>header>img { width: 400px }
  #mainProducto > article.header > header > p { font-size: 1.2rem }
  #mainProducto > article > div { height: 600px }
  #mainProducto > article > div.producto > img {
    width: 600px;
    left: calc(50% - 300px);
  }
  #mock {
    width: 560px !important;
    left: calc(50% - 280px) !important;
  }
  #mainProducto > article > div.info > h2 { font-size: 2rem }
  #mainProducto > article > div.info > p { font-size: 1.2rem }
  #mainProducto > article > div.info > div {
    width: 420px;
    height: 420px;
  }
}
